html body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

#top-section {
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#logo-img {
  width: 150%;
  height: 150%;
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-links li {
  display: inline-block;
  margin: 0 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.03rem;
}

.nav-links a {
  text-decoration: none;
}

.navlink {
  color: white;
}

#contact-link {
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: black;
  font-family: "Fraunces", sans-serif;
  padding-left: 1.3rem;
  padding-right: 1.3rem;; 
}

/* todo  TODO:  add hover effect to contact link  */
#contact-link:hover {
  background-color: hsl(0, 0%, 90%);
}

.header-title {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1rem;
  color: white;
  width: 70%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
